<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:tal="http://xml.zope.org/namespaces/tal"
      xmlns:metal="http://xml.zope.org/namespaces/metal"
      xmlns:i18n="http://xml.zope.org/namespaces/i18n"
      metal:use-macro="load: base.html"
      i18n:domain="mydomain">
<head>
  <link href="../static/style.css" tal:attributes="href static('style.css')" rel="stylesheet" tal:condition="nothing"/>
</head>
<body>
<div metal:fill-slot="content">


<p i18n:translate="">The first page</p>

<p tal:condition="request.locale|nothing">
  <span tal:define="datetime import: datetime;
                    today datetime.datetime.now();"
        tal:content="request.locale.format_datetime(today)">
	1/1/1970
  </span>
</p>


<b>
<a href="index.html" tal:attributes="href url('index')"
   title="Go to index" i18n:attributes="title"
   i18n:translate="">
  View Index
</a>
</b>


<hr/>

<p tal:condition="request.locale|nothing">
<a href="" onclick="document.cookie='locale=ca'">ca</a>
<a href="" onclick="document.cookie='locale=fr_FR'">fr</a>
<a href="" onclick="document.cookie='locale=en'">en</a>
</p>

</div>
</body>
</html>